<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Web" type="js.build_tools.npm" folderName="Nix">
    <package-json value="$PROJECT_DIR$/apps/web/package.json" />
    <command value="run" />
    <scripts>
      <script value="dev" />
    </scripts>
    <node-interpreter value="project" />
    <package-manager value="pnpm" />
    <envs />
    <method v="2" />
  </configuration>
</component>
